
<div class='form'>
  <div class='box-container' style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/dsef2i7mv/image/upload/v1669148676/fond-pastel-couleur-abstraite-ciel-doux-fond-nuage-couleur-pastel_6529-2_ledfr4.webp)">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4" class='bloc'>
        <h1 class='title'><b>Je modifie mon rêve</b></h1>
          <div>
            <%= simple_form_for @dream do |f| %>
              <div class='name-price'>
              <div class='one'>
              <%= f.input :name, label: 'Nom du rêve', placeholder: 'Rêve romantique' %>
              </div>
              <div class='photo-details'>
              <%= f.input :details, label: 'Résumé du rêve', placeholder: "Un rêve à l'eau de rose" %>
              </div>
              <div>
              <%= f.input :content, label: 'Description détaillée', placeholder: 'Décrivez votre rêve dans les détails...' %>
              </div>
              </div>
              <div class='two'>
              <%= f.input :price, label: 'Prix du rêve (€)', placeholder: '100' %>
              </div>
              <div class='photo-details'>
              <%= f.input :photo, as: :file %>
              </div>
              <%= submit_tag 'Je confirme les modifications', class:"btn btn-danger create-btn"%>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
