<div class="search-position">
<div class="index-search"><%= form_with url: dreams_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Rêve par mot-clé"
  %>
  <%= submit_tag "Chercher", class: "btn btn-primary search-btn" %>
<% end %>
</div>
</div>
<div class='container index'>
  <h2><b>Choisissez ici le rêve de vos rêves...</b></h2>

  <div class="cards-container index-cards-container">
    <% @dreams.each do |dream| %>
      <div class="card card-index" style="width: 18rem;">
        <div class="image-container image-container-index">
          <%= cl_image_tag dream.photo.key, crop: :fill, class:'image-card image-card-index' %>
        </div>
        <div class="card-body">
          <div class="card-name-price card-name-price-index">
            <h5 class="card-title"><%=dream.name%></h5>
            <h5 class="card-title price"><%=dream.price%>€</h5>
          </div>
          <p class="card-text"><%=dream.details%></p>
          <%= link_to 'Découvrez ce rêve', dream_path(dream), class:"btn-flat index-btn" %>
        </div>
      </div>
      <%end%>
  </div>
</div>
