<div class="index-search"><%= form_with url: dreams_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Mot clé"
  %>
  <%= submit_tag "Chercher", class: "btn btn-primary search-btn" %>
  <%# <i class="fa-regular fa-magnifying-glass"></i> %>
<% end %>
</div>

<div class='container index'>
  <h2><b>Choisis ici le rêve de tes rêves...</b></h2>

  <div class="cards-container">
    <% @dreams.each do |dream| %>
      <div class="card" style="width: 18rem;">
        <div class="image-container">
          <%= cl_image_tag dream.photo.key, crop: :fill, class:'image-card' %>
        </div>
        <div class="card-body">
          <div class="card-name-price">
            <h5 class="card-title"><%=dream.name%></h5>
            <h5 class="card-title price"><%=dream.price%>€</h5>
          </div>
          <p class="card-text"><%=dream.details%></p>
          <%= link_to 'Découvre ce rêve', dream_path(dream), class:"btn-flat index-btn" %>
        </div>
      </div>
      <%end%>
  </div>
</div>
