

<div class='form'>
  <div class='box-container' style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/dsef2i7mv/image/upload/v1669148676/fond-pastel-couleur-abstraite-ciel-doux-fond-nuage-couleur-pastel_6529-2_ledfr4.webp)">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4" class='bloc'>
        <h1 class='title'><b>Je crée mon rêve</b></h1>
          <div>
            <%= simple_form_for @dream do |f| %>
              <div class='name-price'>
              <div class='one'>
              <%= f.input :name %>
              </div>
              <div class='two'>
              <%= f.input :price %>
              </div>
              </div>
              <div class='photo-details'>
              <%= f.input :photo, as: :file %>
              </div>
              <div class='photo-details'>
              <%= f.input :details %>
              </div>
              <%= f.submit class:"btn btn-danger create-btn"%>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
