

<div class='form'>
  <div class='container'>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4" class='bloc'>
        <h1 class='title'><b>Je crée mon rêve</b></h1>
          <div>
            <%= simple_form_for @dream do |f| %>
              <div class='name-price'>
              <div class='one'>
              <%= f.input :name %>
              </div>
              <div class='two'>
              <%= f.input :price %>
              </div>
              </div>
              <div class='photo-details'>
              <%= f.input :photo, as: :file %>
              </div>
              <div class='photo-details'>
              <%= f.input :details %>
              </div>
              <%= f.submit class:"btn btn-danger"%>
              </button>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
