<div class="show-container">

  <div class= "show-h2">
    <h2><b><%= @dream.name %></b></h2>
  </div>

  <div class="show-bloc">
    <div class= "show-img">
      <%= cl_image_tag @dream.photo.key , crop: :fill , height: 400 , width: 700 %>
    </div>
    <div class= "show-infos" >
      <h5><b><%= @dream.details %> ! </b></h5><br><br>
      <p> <%= @dream.content %> </p> <br>
      <p> Prix : <%= @dream.price %> € </p>
      <%= link_to 'Réservez ce rêve', new_dream_reservation_path(@dream), class:'btn btn-flat' %>
      <a class="btn btn-flat" href="/dreams">Retour</a>
    </div>
  </div>
</div>
