<div class="show-container">

  <div class= "show-h2">
    <h2><b><%= @dream.name %></b></h2>
  </div>

  <div class="show-bloc">
    <div class= "show-img">
      <%= cl_image_tag @dream.photo.key , crop: :fill , height: 400 , width: 700 %>
    </div>
    <div class= "show-infos" >
      <%= @dream.details %> ! <br>
      <p> <%= @dream.price %> € </p> <br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Réservez !
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/dsef2i7mv/image/upload/v1669148676/fond-pastel-couleur-abstraite-ciel-doux-fond-nuage-couleur-pastel_6529-2_ledfr4.webp)">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Je réserve mon rêve</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- Contenu de mon formulaire -->
        <div class='form'>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4" class='bloc'>
                <div>
                  <%= simple_form_for [@dream, @reservation] do |f| %>
                    <div class='date'>
                    <%= f.input :date, label: 'Quand souhaitez-vous rêver?' %>
                    </div>
                    <%= cl_image_tag @dream.photo.key , crop: :fill , height: 400 , width: 700 %>
                    <%= @dream.details %> ! <br>
                    <p> <%= @dream.price %> € </p> <br>
                    <div class="modal-footer">
                    <%= f.submit class:"btn btn-danger create-btn", label: 'Je confirme ma réservation'%>
                    <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                  </div>
                  <% end %>
                </div>
            </div>
        </div>
      <!-- Fin du contenu formulaire -->
      </div>
    </div>
  </div>
</div>
      <%# <%= link_to 'Réservez!', new_dream_reservation_path(@dream), class:'btn btn-flat' %> %>
    </div>
      <a class="btn btn-flat" href="/dreams">Retour</a>
  </div>
</div>
