<div class="show-container">

  <div class= "show-h2">
    <h2><b><%= @dream.name %></b></h2>
  </div>

  <div class="show-bloc">
    <div class= "show-img">
      <%= cl_image_tag @dream.photo.key , crop: :fill , height: 400 , width: 700 %>
    </div>
    <div class= "show-infos" >
      <h5><b><%= @dream.details %> ! </b></h5><br><br>
      <p> <%= @dream.content %> </p> <br>
      <p> Prix : <%= @dream.price %> € </p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Réservez !
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Je réserve mon rêve</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- Contenu de mon formulaire -->
        <div class='form'>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4" class='bloc'>
                <div>
                  <%= simple_form_for [@dream, @reservation] do |f| %>
                    <h3 class='resa-dream-name'><%= @dream.name %></h3>
                    <%= cl_image_tag @dream.photo.key , crop: :fill , height: 400 , width: 700 %>
                    <br>
                    <br>
                    <div class='details-price-resa'>
                    <br>
                    <b><%= @dream.details %> !</b> <p class='resa-price'><%= @dream.price %> € </p>
                    </div>
                    <div class='show-date'>
                    <%= f.input :date, label: 'Quand souhaitez-vous rêver?' %>
                    </div>
                    <div class="modal-footer">
                    <%= f.submit class:"btn btn-danger resa-btn", label: 'Je confirme ma réservation'%>
                    <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                  </div>
                  <% end %>
                </div>
            </div>
        </div>
      <!-- Fin du contenu formulaire -->
      </div>
    </div>
  </div>
</div>

      <%# <%= link_to 'Réservez!', new_dream_reservation_path(@dream), class:'btn btn-flat' %> %>
    </div>
      <a class="btn btn-flat" href="/dreams">Retour</a>
  </div>
</div>
