<h2><b>Mes rêves en location</b></h2>
<%# si connecté, affiche les dreams créés %>

<div class="container container-dashbord-create">
  <% @dreams.each do |dream|%>
    <% if dream.user == current_user %>
      <div class="card card-dashbord-create">
          <%= cl_image_tag dream.photo.key, crop: :fill, class:"card-img card-img-dashbord" %>
        <div class="card-img-overlay name-price-dashbord">
            <h5 class="card-title"><%=dream.name%></h5>
            <h5 class="card-title"><%=dream.price%>€</h5>
          <%# <p class="card-text"><%=dream.details</p> %>
        </div>
      </div>
    <%end%>
  <%end%>
</div>

<h2 class='m-5'><b>Mes réservations</b></h2>

<% @reservations.each do |reservation|%>
  <div class="card mb-3" style="max-width: 540px;">
    <% if reservation.user == current_user %>
    <div class="row g-0">
      <div class="col-md-4">
         <%= cl_image_tag reservation.photo.key, crop: :fill, class:"card-img card-img-dashbord-2" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=reservation.dream.name %></h5>
          <h5 class="card-title"><%=reservation.date%></h5>
        </div>
    </div>
    <%end%>
    </div>
  </div>



      <img src="..." class="img-fluid rounded-start" alt="...">


        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
